@import 'bootstrap/dist/css/bootstrap.min.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkorange;
    height: 100vh;
    padding: 2rem;
}
.container{
    text-align: center;
    margin-top: 10px;
    
}
.main{
    text-align: center;
    margin: 10px auto !important;
    width: 400px;
    height: 800px;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: goldenrod;
    padding: 1rem;
    position: relative;

}
.strip{
    width: 70px;
    height: 900px;
    /* border: 1px solid red; */
    background-color: cornflowerblue;
    transform: rotate(140deg);
    position: absolute;
    left: 200px;
    top: -10px;
    z-index: 1;
}
.lang{
    position: absolute;
    z-index: 5;
    margin: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem 0.7rem;

    
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 150px;
    height: 140px;
    margin-top: 10px;
}

.cardback{
    font-size: 12px;
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    text-align: left;
    padding-top: 10px;

}